//elements


//Main Font Size
html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
    background-image: url('../img/gray_jean.png');
}
/* =14px */
h1 {
    font-size: 24px;
    font-size: 2.4rem;
}
/* =24px */

//wrapper

.wrapper {
    background-color: @lightest-grey;
    .wrapper_border;
    margin: auto;
    margin-top: @default-size-rem*0.5;    
}

//Offers Section

section.offers {
    .boxed;
    margin-top: @content-margin-top;


    .top_offers{
        /*min-height: 300px;*/
    }

    >section {
        position: relative;
        min-height: 125px;
        .offers_border;
        margin-left: @offers-margin-lr;
        margin-right: @offers-margin-lr*0.5;
        margin-bottom: @offers-margin-lr;
        background-color: #fff;
        .offers_border;
    

        >button {
            .trans;
            .trans_font;
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: inline-block;
            background-color: @blue-grey;
            color: #fff;
            .offers_button_border;
            float: right;
            .element_width(@menu-button-width);
            .element_height(@menu-button-height);


            &:hover{
                background-color: @blue-grey-darker;                
                color: @light-grey;
            }
        }
    }
}

//Sidebar

aside {
    margin-top: @content-margin-top;
    div {
        .boxed;
        .aside_border;
        background-color: #fff;
        margin-right: @offers-margin-lr;
        margin-left: @offers-margin-lr*0.5;
        margin-bottom: @offers-margin-lr;
        min-height: 35px;
        text-align: center;
    }

    .subscribe{
        position: relative;
        
        .element_height(@default-size*3.5);
        span{
            float: left;
            padding-left: @default-size-rem*2;
            line-height: @default-size-rem*3.5;
            .aside_font_style;
        }
        .subscribe_search{
            .boxed;
            background-color: @lightest-grey;
            position: absolute;
            right: 0;
            margin-right: -1px;
            display: inline-block;
            .element_width(@default-size*5.5);
            .element_height(@default-size*3.5);
            margin-top: -1px;
            border-right: 1px solid @grey;
            border-left: 1px solid @grey;
            
        }
    }

}

//Menu


.logo_container {
    .boxed;
    float: left;
    margin-left: @default-size-rem*2;
    margin-top: @default-size-rem*0.6;
    text-align: center;
    z-index: 3;
}

.navigation{
    .element_width(@menu-width-tablet);
    float: right;
}
.menu {
    /*.dev_border;*/
    .boxed;
    list-style-type: none;
    .element_width(@menu-width-tablet);
    float: right;
    margin-right: @menu-margin-right;
    margin-top: 10px;

    >li {
        display: inline-block;
        .button_style_grey;      
        position: relative;
        float: right;
        .element_width(@menu-button-width);
        .element_height(@menu-button-height);
        /*.dev_border;*/
        text-align: center;
        margin-left: 5px;

        >.button_decoration {
            display: inline-block;
            position: absolute;
            left: 0;
            width: 3px;
            .element_height(@menu-button-height);
            background-color: @orange;
        }



        >a {
            display: inline-block;
            margin: auto;
            text-decoration: none;
            .element_width(@menu-button-width);
            line-height: @default-size-rem*@menu-button-height;
            
            border: none;
            .font-style;
            .trans;

            &:hover {
                .button_style_grey_hover;
            }
        }
    }
}

//Submenu

.submenu {
    margin-top: -3px;
    
    li{
        .buttons-border-submenu;
        .element_height(@menu-button-height - 1);
        background-color: @bluish;
        a{
            .buttons-border-submenu;
            border: none;
            line-height: @default-size-rem*(@menu-button-height - 1);
            color: @dark-grey;
            &:hover {
                background-color: @blue;
            }
        }
    }
}


//Submenu Inactive buttons
.submenu-inactive{
    background-color: @light-grey !important;
    a{

        &:hover {
                background-color: @blue-grey !important;
            }
    }
}


//Footer

footer {
    .boxed;
    min-height: @foot-height;
    .offers_border;

    p {
        text-align: center;
    }
}


// Mobile Menu
#mobile_menu_button {
    .boxed;
    position: relative;
    top: 10px;
    color: @dark-grey;
    background-color: @orange;
    border: 1px solid @mobile-menu-border;
    .offers_margin;
    .element_height(@mobile-menu-height);
    /*.element_height(@mobile-menu-height);*/
    z-index: 1;

    a {
        line-height: 35px;
        padding: 10px 200px;
    }
}

.height_test {
    display: inline-block;
    .element_height(2.5);
    .dev_border;
}


//Bootstrap BreakCrumbs
/*.breadcrumb {
  .boxed;
  padding: 8px 15px;
  margin-bottom: 0.2rem;
  list-style: none;
  background-color: white;
  border-radius: 0.2rem;
  > li {
    display: inline-block;
    &+li:before {
      content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: blue;
    }
  }
  > .active {
    color: black;
  }
}*/


//Bootstrap Breadcrumb origina and custom style


.breadcrumb {
    .boxed;
    .element_height(2.2);
    padding: 1px 3px;
    margin-bottom: @line-height-computed;
    margin-left: @default-size-rem;
    margin-top: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
    .breadcrumb_border;
    > li {
        display: inline-block;

        & + li:before {
            content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: @redish;
        }

        >a {
            text-decoration: none;
            color: @dark-grey;
            .trans_font;

            &:hover {
                color: @grey;
            }
        }
    }

    > .active {
        color: @light-grey;
    }
}


.nav_breadcrumb {
    background-color: @blue;
    .element_height(2.2);
    margin: @default-size-rem*1.2 0;
}

//Bootstrap Carousel.Less
@import "carousel.less";
