.dev_border {
  border: 1px solid #633030;
}
.buttons-border {
  border: 1px solid #995c00;
  border-radius: 0 5px 0 5px;
}
.wrapper_border {
  border: 1px solid #bcbcbc;
  border-radius: 3px;
}
.offers_border {
  border: 1px solid #bcbcbc;
  border-radius: 2px;
}
.offers_button_border {
  border: 1px solid #7e8c8c;
  border-radius: 2px;
}
.offers_margin {
  margin: 5px;
}
.aside_border {
  border: 1px solid #3299bb;
}
.boxed {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.font-style {
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  color: #424242;
}
.trans {
  -o-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
}
.trans_font {
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
  background-image: url('../img/gray_jean.png');
}
/* =14px */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
/* =24px */
.wrapper {
  background-color: #f1f1f1;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  margin: auto;
  margin-top: 0.5rem;
}
section.offers {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  margin-top: -3px;
}
section.offers .top_offers {
  /*min-height: 300px;*/

}
section.offers > section {
  position: relative;
  min-height: 125px;
  margin-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
}
section.offers > section > button {
  -o-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  background-color: #b4bcbc;
  color: #fff;
  border: 1px solid #7e8c8c;
  border-radius: 2px;
  float: right;
  width: 96px;
  width: 9.6rem;
  height: 35px;
  height: 3.5rem;
}
section.offers > section > button:hover {
  background-color: #7e8c8c;
  color: #e9e9e9;
}
aside div {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  border: 1px solid #3299bb;
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  min-height: 35px;
  text-align: center;
}
.logo_container {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  width: 224px;
  width: 22.4rem;
  height: 128px;
  height: 12.8rem;
  float: left;
  margin-left: 1rem;
  margin-top: 0.6rem;
}
.menu {
  /*.dev_border;*/

  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  list-style-type: none;
  width: 460px;
  width: 46rem;
  float: right;
  margin-right: 1.2rem;
  margin-top: 5px;
}
.menu > li {
  display: inline-block;
  background-color: #ff9900;
  border: 1px solid #995c00;
  border-radius: 0 5px 0 5px;
  float: right;
  width: 96px;
  width: 9.6rem;
  height: 35px;
  height: 3.5rem;
  /*.dev_border;*/

  text-align: center;
  margin-left: 5px;
}
.menu > li > .button_decoration {
  display: inline-block;
  float: left;
  width: 3px;
  height: 35px;
  height: 3.5rem;
  background-color: #bcbcbc;
}
.menu > li > a {
  display: inline-block;
  margin: auto;
  text-decoration: none;
  width: 91px;
  width: 9.1rem;
  line-height: 3.5rem;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  color: #424242;
  -o-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
}
.menu > li > a:hover {
  background-color: #a3a3a3;
}
footer {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  min-height: 5.5rem;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
}
footer p {
  text-align: center;
}
#mobile_menu_button {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  position: relative;
  top: 10px;
  color: #424242;
  background-color: #ff9900;
  border: 1px solid #995c00;
  margin: 5px;
  height: 35px;
  height: 3.5rem;
  /*.element_height(@mobile-menu-height);*/

  z-index: 1;
}
#mobile_menu_button a {
  line-height: 35px;
  padding: 10px 200px;
}
.height_test {
  display: inline-block;
  height: 25px;
  height: 2.5rem;
  border: 1px solid #633030;
}
/*.breadcrumb {
  .boxed;
  padding: 8px 15px;
  margin-bottom: 0.2rem;
  list-style: none;
  background-color: white;
  border-radius: 0.2rem;
  > li {
    display: inline-block;
    &+li:before {
      content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: blue;
    }
  }
  > .active {
    color: black;
  }
}*/
.breadcrumb {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  height: 18px;
  height: 1.8rem;
  padding: 1px 1px;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  margin-top: 0;
  list-style: none;
  background-color: #bcbcbc;
  border-radius: 0;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #3299bb;
}
.breadcrumb > li > a {
  text-decoration: none;
  color: #3299bb;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
}
.breadcrumb > li > a:hover {
  color: #22687f;
}
.breadcrumb > .active {
  color: #e9e9e9;
}
.nav_breadcrumb {
  background-color: #bcbcbc;
  height: 18px;
  height: 1.8rem;
  margin: 1.2rem 1rem;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
/*// Scale up controls for tablets and up
@media screen and (min-width: @screen-tablet) {

  // Scale up the controls a smidge
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }

  // Show and left align the captions
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 20px;
  }
}*/
@media (max-width: 769px) {
  html {
    background: #808080;
  }
  .wrapper {
    width: 450px;
  }
  .logo_container {
    width: 446px;
    margin: auto;
    float: none;
    height: 79px;
    height: 7.9rem;
  }
  .random_offers,
  .last_seen,
  .menu {
    display: none;
  }
  .breadcrumb {
    display: none;
  }
}
@media (min-width: 769px) {
  .wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 0.5rem;
  }
  #mobile_menu_button {
    display: none;
  }
  .menu {
    /*>li{float: left;}*/
  
  }
  .content {
    width: 66%;
  }
  .sidebar {
    width: 33%;
  }
  aside {
    margin-top: -3px;
  }
  aside .subscribe {
    min-height: 45px;
  }
  aside .subscribe span {
    line-height: 45px;
  }
  aside .search {
    min-height: 45px;
  }
  aside .random_offers {
    min-height: 155px;
  }
  aside .last_seen {
    min-height: 155px;
  }
  aside .ads {
    min-height: 33%;
  }
}
@media (min-width: 1024px) {
  .logo_container {
    width: 96px;
    width: 9.6rem;
    height: 87px;
    height: 8.7rem;
    float: left;
  }
  .menu {
    width: 870px;
    width: 87rem;
  }
  .content {
    width: 660px;
  }
  .sidebar {
    width: 339px;
  }
}
