//Mixins

.dev_border {
    border: 1px solid #633030;
}
//Offers element border - General border
.offers_border {
    border: 1px solid @dark-grey;
}

.offers_margin {
    margin: 5px;
}

//Aside border
.aside_border {
    border: 1px solid @blue;
}

//Height
.element_height(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    height: ~"@{pxValue}px";
    height: ~"@{remValue}rem";
}

//Width
.element_width(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    width: ~"@{pxValue}px";
    width: ~"@{remValue}rem";
}

//Font Size
.font_size(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}

//BoxSizing
.boxed {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}
