//Mixins

// Borders
.dev_border {
    border: 1px solid #633030;
}

.buttons-border {
    border: 1px solid darken(@orange, 20%);
    border-radius: 0 5px 0 5px;
}

    //Wrapper Border
.wrapper_border{
    border: 1px solid @grey;
    border-radius: 3px;
}
    //Offers element border - General border
.offers_border {
    border: 1px solid @grey;
    border-radius: 2px;
}

    //offer button border
    .offers_button_border{
        border: 1px solid darken(@blue-grey, 20%);
        border-radius: 2px;
    }

//Margins
.offers_margin {
    margin: 5px;
}

//Aside border
.aside_border {
    border: 1px solid @blue;
}

//Height
.element_height(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    height: ~"@{pxValue}px";
    height: ~"@{remValue}rem";
}

//Width
.element_width(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    width: ~"@{pxValue}px";
    width: ~"@{remValue}rem";
}

//Font Size
.font_size(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}

//BoxSizing
.boxed {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

//Menu Typography

.font-style{
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    .font_size(@menu-font-size);
    color: @dark-grey;
}


.trans {
    -o-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
}
.trans_font {
    -o-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
}

@import "bootstrap_mixins.less";