//Mixins 

.dev_border{
    border: 1px solid #633030;
}
//Offers element border - General border
.offers_border {
    border: 1px solid @dark-grey;
}

.offers_margin{
    margin: 5px;    
}

//Aside border
.aside_border{
    border: 1px solid @blue;
}

