//BreakPoints
@mobile-bp: 769px;
@desktop-bp: 1024px;
@largescreen-bp: 1200px;

//Container Sizes
@mobile-size: 450px;
@desktop-size: 1000px;
@largescreen-size: 1200px;
//  >> Logo Container Mobile
@logo-container-height-mobile: 79px;
@logo-container-width-mobile: (@mobile-size - 4); 
//  >> Logo Container Tablet
@logo-container-height-tablet: 128px;
@logo-container-width-tablet: 224px;
//  >> Logo Container Desktop
@logo-container-height-desktop: 70px; 
@logo-container-width-desktop: 105px;
 
@menu-width-tablet: 426px;
@menu-width-desktop: 832px;
@menu-button-width: (@menu-width-desktop/8 - 2);
@menu-button-height: 35px; 

//Colors
@orange: rgb(255,153,0);        //Hex: #FF9900, RGB: 255,153,0
@blue: rgb(50,153,187);         //Hex: #3299BB, RGB: 50,153,187
@dark-grey: rgb(66,66,66);      //Hex: #424242, RGB: 66,66,66
@light-grey: rgb(233,233,233);  //Hex: #E9E9E9, RGB: 233,233,233
@grey: rgb(188,188,188);        //Hex: #BCBCBC, RGB: 188,188,188

//Borders
@mobile-menu-border: darken(@orange, 20%);

//Elements Height
@mobile-menu-height: 35px;
@foot-height: 55px;

//Margins
@content-margin-top: 10px;
@menu-margin-right: 12px;
@menu-margin-left-tablet: 20px;
@menu-margin-right-desktop: 12px;
@menu-margin-top-desktop: -10px;

//Paddings


